/* @import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');  */

:root {
  font: 20px / 1 Times New Roman;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}
h1,
h3 {
  color: burlywood;
  background-color: green;
  border: 10px solid rgb(102, 53, 53);
  border-radius: 2rem;
  padding: 1rem;
  font-family: 'Merienda', cursive;
}

p::after {
  content: '🎍';
}
p,
img {
  margin: 1%;
}
p:hover {
  background-color: black;
  color: white;
}

p::before {
  content: '🎍';
}
